body {
    display: flex;
    justify-content: center;
    margin: 3rem;
    gap:2rem;
}
section {
    width: 25%;
    height: fit-content;
    background-image: linear-gradient(rgb(143, 138, 138), rgb(231, 219, 219));
    border-radius: 10px;
}

nav {
    display: flex;
    height: 4rem;
    justify-content: space-between;
}
.nav-left {
    display: flex;
}
.name-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h3,h4 {
    margin: 0;
    font-size: 1rem;
}
h4 {
    color: white;
}
figure {
    width: 100%;
    margin: 0;
}

.icon-search,
.icon-heart {
    width: 2rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.main-img {
   width: 100%;
   height: 15rem;
   object-fit: cover;
}   

.first-word {
    font-weight: bold;
}

p {
    margin: 1rem;
}

/* tablet version */
@media only screen and (max-width: 992px) {
body {
    flex-wrap: wrap;
    justify-content: flex-start;
}
section {
    width: 47%;
}
}

/* mobile version */

@media only screen and (max-width: 576px) {
    body {
        justify-content: center;
    }
    section {
        width: 90%;
    }
    }
    